<section id="main" class="container">
	<div class="row">
		<div class="12u box">
			<form ng-submit="changePassword()">
				<div class="row uniform box-padding-top">
					<div class="12u">
						<h3>Trocar senha</h3>
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						<h5>Informe os dados abaixo para alteração de senha.</h5>
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						<input type="password" ng-model="old_password" placeholder="Informe a senha atual">
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						<input type="password" ng-model="new_password" placeholder="Informe a nova senha">
					</div>
				</div>
				<div class="row uniform">
					<div class="12u">
						<input type="password" ng-model="confirm_password" placeholder="Confirme a nova senha">
					</div>
				</div>
				<div class="row uniform" ng-show="message_change_password">
					<div class="12u input-group">
						<div ng-class="messageClassAlert">{{message_change_password}}</div>
					</div>
				</div>
				<div class="row uniform">
					<div class="6u">
						<input type="submit" class="button azul_escuro" value="Salvar" style="width:100%">
						<img src="images/loading_pequeno.gif" ng-if="dataLoading" />
					</div>
					<div class="6u">
						<input type="button" ng-click="go('/page-personal')" class="button azul_escuro" value="Voltar" style="width:100%">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>