<section id="banner" class="align-center">
	<div id="main_banner" class="container">
		<div class="main_box main_box1">
			<div class="row uniform">	
				<div class="12u align-center">
					<span class="slogan">Faça o seu pedido sem enfrentar filas, sem perder tempo e receba na sua cadeira.</span>
				</div>
			</div>
			<div class="row uniform">	
				<div class="12u align-center">
					<a href="#/event" class="button verde big" id="order">Fazer meu pedido</a>
				</div>
			</div>
		</div>
		<div class="row uniform box-padding-top">	
			<div class="12u align-center">
				<ul class="actions">
					<li>
						<a href="#" target="_blank">
			            	<img src="images/applestore.png" class="applestore" alt="App Store" >
			            </a>
					</li>
					<li>
						<a href="#" target="_blank">
			                <img src="images/playstore.png" class="playstore" alt="Google Play" >
			            </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="steps">
	<div id="main" class="container">
		<div class="row">	
			<div class="4u align-center">
				<h3 class="work">1. Selecione o evento</h3>
				<p><i class="fa fa-futbol-o fa-4x"></i></p>
				<p class="step">Ao clicar no botão "fazer meu pedido", o Snack4me listará os eventos disponíveis mais próximos a você. Caso queira pesquisar eventos em outras localidades, selecione a cidade desejada.</p>
			</div>
			<div class="4u align-center">
				<h3 class="work">2. Marque a sua localização</h3>
				<p><i class="fa fa-location-arrow fa-4x"></i></p>
				<p class="step">Após selecionar o evento desejado, informe a sua localização dentro do evento na qual você deseja receber o seu lanche.</p>
			</div>
			<div class="4u align-center">
				<h3 class="work">3. Escolha os produtos</h3>
				<p><i class="fa fa-shopping-cart fa-4x"></i></p>
				<p class="step">Para este evento selecionado, serão apresentados os produtos disponíveis. Escolha os produtos e quantidades desejadas. Confira o valor total de seu pedido e realize o pagamento.</p>
			</div>
		</div>
		<div class="clear"></div>
		<div class="row">
			<div class="6u align-center">
				<h3 class="work">4. Faça o pagamento</h3>
				<p><i class="fa fa-credit-card fa-4x"></i></p>
				<p class="step">Confira o resumo do seu pedido, escolha a forma de pagamento que desejar e finalize o seu pedido. É possível agendar a entrega do seu pedido dentro do intervalo de duração do evento escolhido.</p>
			</div>
			
			<div class="6u align-center">
				<h3 class="work">5. Receba o seu produto</h3>
				<p><i class="fa fa-cutlery fa-4x"></i></p>
				<p class="step">Ao finalizar o pedido, será criado e apresentado um QRCode de confirmação deste pedido realizado. Este QRCode será utilizado para a confirmação do recebimento do seu pedido.</p>
			</div>
		</div>
	</div>
</section>

<section id="partners">
	<div id="main" class="container">
		<div class="row">	
			<div class="3u align-center">
				<h3 class="work">Partner 1</h3>
				<p><i class="fa fa-users fa-4x"></i></p>
			</div>
			<div class="3u align-center">
				<h3 class="work">Partner 2</h3>
				<p><i class="fa fa-users fa-4x"></i></p>
			</div>
			<div class="3u align-center">
				<h3 class="work">Partner 3</h3>
				<p><i class="fa fa-users fa-4x"></i></p>
			</div>
			<div class="3u align-center">
				<h3 class="work">Partner 4</h3>
				<p><i class="fa fa-users fa-4x"></i></p>
			</div>
		</div>
	</div>
</section>

<section id="contact">
	<div id="main" class="container">
		<h3>Entre em contato conosco</h3>
		<div class="row">
			<div class="6u">
				<form method="post" action="#">
					<div class="row uniform collapse-at-2">
						<div class="6u">
							<input type="text" name="name" id="name" value="" placeholder="Nome">
						</div>
						<div class="6u">
							<input type="email" name="email" id="email" value="" placeholder="Email">
						</div>
					</div>
					<div class="row uniform">
						<div class="12u">
							<textarea name="message" id="message" placeholder="Mensagem" rows="7"></textarea>
						</div>
					</div>
					<div class="row uniform">
						<div class="12u">
							<ul class="actions">
								<li><input type="submit" class="button azul_escuro" value="Enviar"></li>
								<li><input type="reset" value="Limpar" class="alt"></li>
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div class="6u">
				<div class="box">
					<h4>Tem alguma dúvida?</h4>
					<p>Informe no formulário ou, se preferir, envie-nos um email com a sua dúvida para <strong><a href="mailto:contact@snack4me.com">contact@snack4me.com</a></strong>.</p>
						<h4>Redes Sociais</h4>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook-square fa-3x"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus-square fa-3x"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter-square fa-3x"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>