<!--main content start-->
<div id="main-content">
    <div class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="#/"><i class="fa fa-bar-chart"></i> Dashboard</a></li>
                    <li><a href="#/products">Produtos</a></li>
                    <li class="active">Adicionar produto</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Adicionar produto
                        <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <div class="space15"></div>

                        <form name="formProduct" role="form" class="form-horizontal">
                            <div class="form-group"
                                 ng-class="{ 'has-error': formProduct.number.$dirty && formProduct.number.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Número</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="text" name="number" class="form-control" ng-model="vm.product.numero"
                                           required>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': formProduct.name_pt.$dirty && formProduct.name_pt.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Nome (pt)</label>
                                <div class="col-sm-6">
                                    <input type="text" name="name_pt" class="form-control" ng-model="vm.product.name_pt"
                                           required>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': formProduct.name_en.$dirty && formProduct.name_en.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Nome (en)</label>
                                <div class="col-sm-6">
                                    <input type="text" name="name_en" class="form-control" ng-model="vm.product.name_en"
                                           required>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': formProduct.name_es.$dirty && formProduct.name_es.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Nome (es)</label>
                                <div class="col-sm-6">
                                    <input type="text" name="name_es" class="form-control" ng-model="vm.product.name_es"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-sm-3 control-label">Descrição (pt)</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="3" ng-model="vm.product.desc_pt"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-sm-3 control-label">Descrição (en)</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="3" ng-model="vm.product.desc_en"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-sm-3 control-label">Descrição (es)</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" rows="3" ng-model="vm.product.desc_es"></textarea>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': formProduct.price.$dirty && formProduct.price.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Preço</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="text" name="price" class="form-control" ng-model="vm.product.price"
                                           ui-money-mask="2" required>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': formProduct.hour_initial.$dirty && formProduct.hour_initial.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Hora início</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="text" name="hour_initial" class="form-control" ui-mask="99:99"
                                           model-view-value="true" ng-model="vm.product.hour_initial" required>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error': formProduct.hour_final.$dirty && formProduct.hour_final.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Hora fim</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="text" name="hour_final" class="form-control" ui-mask="99:99"
                                           model-view-value="true" ng-model="vm.product.hour_final" required>
                                </div>
                            </div>

                            <div class="form-group"
                                 ng-class="{ 'has-error': formProduct.categoria.$dirty && formProduct.categoria.$error.required }">
                                <label class="col-lg-3 col-sm-3 control-label">Categoria</label>
                                <div class="col-lg-6 col-sm-6">
                                    <select class="form-control" name="categoria" ng-model="vm.categoriaSelected"
                                            ng-options="categoria.categoryNamePt for categoria in vm.categorias track by categoria.id "
                                            required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-9">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="vm.product.fast"> Produto rápido
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 col-sm-3 control-label">Imagem Full</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="file" name="myImage" image-with-preview
                                           ng-model="vm.product.imageFull"
                                           accept="image/jpeg,image/png"
                                           dimensions="height < 400">

                                    <div class="alert alert-danger" ng-show="formProduct.myImage.$error.image" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        Insira apenas formatos JPEG ou PNG!
                                    </div>

                                    <div class="alert alert-danger" ng-show="formProduct.myImage.$error.dimensions" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        Imagem deve possuir a dimensão altura menor que 400px
                                    </div>
                                    <img ng-show="vm.product.imageFull.src" ng-src="{{vm.product.imageFull.src}}"/>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 col-sm-3 control-label">Imagem Thumbnails</label>
                                <div class="col-lg-2 col-sm-6">
                                    <input type="file" name="myImageThumbnails" image-with-preview
                                           ng-model="vm.product.imageThumbnails"
                                           accept="image/jpeg,image/png"
                                           dimensions="height < 151 && width < 151">

                                    <div class="alert alert-danger" ng-show="formProduct.myImageThumbnails.$error.image" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        Insira apenas formatos JPEG ou PNG!
                                    </div>

                                    <div class="alert alert-danger" ng-show="formProduct.myImageThumbnails.$error.dimensions" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        Imagem deve possuir a dimensão 150x150
                                    </div>
                                    <img ng-show="vm.product.imageThumbnails.src" ng-src="{{vm.product.imageThumbnails.src}}"/>
                                </div>

                            </div>




                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-9">
                                    <a class="btn btn-primary" href data-target="#myComplement" data-toggle="modal"><i
                                            class="fa fa-plus"></i> Complemento</a>
                                </div>
                            </div>
                            <div class="form-group" ng-show="vm.complementos.length > 0">
                                <div class="col-lg-2 col-sm-2">
                                </div>
                                <div class="col-lg-10 col-sm-10">
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>Nome (pt)</th>
                                            <th>Nome (en)</th>
                                            <th>Nome (es)</th>
                                            <th class="text-center" style="width:13%">Ação</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="complemento in vm.complementos track by $index"
                                            style="background-color: #fff">
                                            <td>{{complemento.name_pt}}</td>
                                            <td>{{complemento.name_en}}</td>
                                            <td>{{complemento.name_es}}</td>
                                            <td class="text-center">
                                                <div class="todo-actionlist">
                                                    <a href ng-click="vm.removeComplemento(complemento)"
                                                       class="todo-remove icon-center" title="Remover"><i
                                                            class="ico-close"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="space15"></div>
                            <div class="form-group">
                                <div class="col-lg-11 text-center">
                                    <button type="button" class="btn btn-default " ng-click="vm.back()"><i
                                            class="fa fa-undo"></i> Voltar
                                    </button>
                                    <button class="btn btn-primary" type="submit" ng-disabled="formProduct.$invalid"
                                            ng-click="vm.submitProduct(vm)"><i class="fa fa-check"></i> Salvar
                                    </button>
                                </div>
                            </div>
                            <span id="toastrOptions"></span>


                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- page end-->
</div>
<!--main content end-->

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myComplement" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Adicionar Complemento</h4>
            </div>
            <div class="modal-body">

                <form name="formComplement" ng-submit="vm.submitComplement(vm.complement)">
                    <div class="form-group"
                         ng-class="{ 'has-error': formComplement.complementPt.$dirty && formComplement.complementPt.$error.required }">
                        <label class="control-label" for="inputLocalPt">Complemento (pt)</label>
                        <input type="text" name="complementPt" class="form-control" id="inputLocalPt"
                               ng-model="vm.complement.name_pt" placeholder="Nome (pt)" required>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': formComplement.complementEn.$dirty && formComplement.complementEn.$error.required }">
                        <label class="control-label" for="inputLocalEn">Complemento (en)</label>
                        <input type="text" name="complementEn" class="form-control" id="inputLocalEn"
                               ng-model="vm.complement.name_en" placeholder="Nome (en)" required>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': formComplement.complementEs.$dirty && formComplement.complementEs.$error.required }">
                        <label class="control-label" for="inputLocalEs">Complemento (es)</label>
                        <input type="text" name="complementEs" class="form-control" id="inputLocalEs"
                               ng-model="vm.complement.name_es" placeholder="Nome (es)" required>
                    </div>
                    <div class="form-group">
                        <div class="btn-group">
                            <button data-dismiss="modal" class="btn btn-default" type="button"><i
                                    class="fa fa-close"></i> Cancelar
                            </button>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="submit" class="btn btn-primary" ng-disabled="formComplement.$invalid"><i
                                    class="fa fa-check"></i> Salvar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modal -->