<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="#/">
                        <i class="fa fa-bar-chart"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.snack4me.com/hotel/painel/#/realizado/1" target="_blank">
                        <i class="fa fa-dashboard"></i>
                        <span>Painel</span>
                    </a>
                </li>
                <li>
                    <a href="#/products">
                        <i class="fa fa-cutlery"></i>
                        <span>Produtos</span>
                    </a>
                </li>


                <li>
                    <div ng-show="user">
                        <a href="#/users">
                            <i class="fa fa-users"></i>
                            <span>Usuários</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

<script src="js/scripts.js"></script>